{% extends 'client/base.html' %}
{% load my_tags %}
{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p class="card-text">Имя: {{ client.first_name }} </p>
                        <p>Фамилия: {{ client.last_name }} </p>
                        <p> Отчество: {{ client.patronymic }}</p>
                        <p>Email: {{ client.email }} </p>
                        <p> Сообщение: {{ client.comment }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}